@import "compass_twitter_bootstrap_awesome";

/* blues */
$basecolor: #439FB5;
$lightblue: #2C6675;
$violet: #406DE8;

$pressedtext: #142F36;
$pressedtexthighlight: #4CB2CC;

/* browns */
$midbrown: #428BCC;

/* redish */
$orange: #E86040;
$tan: #BE8F77;

/* Greyscale */
$textcolor: #333333;
$lightgrey: #b5b5b5;

body {
	background-image: url("../images/45degreee_fabric_blue.png");
	color: $textcolor;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	line-height: 1.3;
}

header {
	background-color: $basecolor;
	color: white;
	height: 180px;
	padding:10px;
	@include box-shadow(black 0px 0px 12px);
	h1 {	
		font-weight: 200;
		font-size: 40px;
	}
	h2 {
		color: $lightgrey;
		font-weight: 300;
		font-size: 25x;
	}
}

* { @include box-sizing(border-box); }

.navi-circle {
	width: 50px;
	height: 50px;
	background-color: $basecolor;
	color: white;
	@include border-radius(25px);
	margin: 10px auto;
	i {
		margin: 0 5px;
		width: 40px;
		height: 40px;
	}
}

.panel {
	background-color: white;
	margin-top: 30px;
	@include box-shadow(black 0px 0px 12px);
	h2 {
		text-align: center;
		font-weight: 200;
		color: $basecolor;
	}
}

.timeline-circle {
	position: absolute;
	height: 20px;
	width: 20px;
	border-radius: 10px;
	margin: -10px 0 0 -16px;
}

.intro {
	color: $pressedtext;
	padding: 20px;
	font-size: 33px;
	line-height: 1.4;
	@include text-shadow(0px 2px 0px $pressedtexthighlight);
}

/*.cv-objectives {
	h2 {
		color: $basecolor;
	}
}*/

.cv-objectives-intro {
	padding:20px;
	font-size: 20px;
	}
.cv-objectives-detailed {
	overflow-x: auto;
	margin-bottom: 10px;
}

.obj-item-wrapper {
	width: 270%;
	height: 90px;
}

/* Temporal class for testing*/
 .showme {
 	width: 1px;
 	height: 1px;
 	margin-left: -2px;
 }
.obj-item {
	float: left;
	width: 29.629%;
	height: 280px;
	margin: 0 1.851%;
	padding: 5px;
	h3 {
		color: $basecolor;
		font-weight: 300;
		font-style: italic;
		font-size: 25px;
	}
	p {
		font-size: 16px;
	}
}

.arrow-up {
	text-align: center;
}

.experience-job {
	padding: 5px;
	margin: 10px 0 10px 0;
	h3 {
		font-weight: 300;
		font-size: 25px;
	}
	p {
		margin-bottom: 20px;
	}
}
.experience-first {
	border-left: 4px solid $orange;
	.timeline-circle {
		background-color: $orange;
		p {
			margin-left: 25px;
			color: $orange;
		}
	}
}

.experience-second {
	border-left: 4px solid $tan;
	.timeline-circle {
		background-color: $tan;
		p {
			margin-left: 25px;
			color: $tan;
		}
	}
}
.experience-third {
	border-left: 4px solid $violet;
	.timeline-circle {
		background-color: $violet;
		p {
			margin-left: 25px;
			color: $violet;
		}
	}
}
