@import "compass_twitter_bootstrap_awesome";

/* blues */
$basecolor: #439FB5;
$lightblue: #2C6675;
$violet: #406DE8;


$pressedtext: #142F36;
$pressedtexthighlight: #4CB2CC;

/* browns */
$midbrown: #428BCC;

/* redish */
$orange: #E86040;
$tan: #BE8F77;
$pink: #C15C7E;

/* Greyscale */
$textcolor: #333333;
$lightgrey: #b5b5b5;

/* Greens */
$turqoise: #3FC295;
$saturated-green: #39CF47;

/*  Yellow */
$yellow: #dfe95f;

body {
	background-image: url("../images/45degreee_fabric_blue.png");
	color: $textcolor;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	line-height: 1.3;
}

header {
	background-color: rgba(68, 158, 181, 0.4);
	color: white;
	height: 180px;
	padding:10px;
	@include box-shadow(black 0px 0px 12px);
	h1 {	
		font-weight: 200;
		font-size: 40px;
	}
	h2 {
		color: $lightgrey;
		font-weight: 600;
		font-size: 25x;
	}
}

* { @include box-sizing(border-box); }

.navi-circle {
	width: 60px;
	height: 60px;
	background-color: $pressedtexthighlight;
	color: white;
	@include border-radius(30px);
	margin: 10px auto;
	border:	5px solid $basecolor;
	@include box-shadow($pressedtext 0px 0px 7px inset);
	i {
		margin: 0 5px;
		width: 40px;
		height: 40px;
		color: $pressedtext;
		@include text-shadow(0px 2px 0px $pressedtexthighlight);
	}
}

.panel {
	background-color: white;
	margin-top: 30px;
	@include box-shadow(black 0px 0px 12px);
	h2 {
		text-align: center;
		font-weight: 200;
		color: $basecolor;
	}
}

.timeline-circle {
	position: absolute;
	height: 20px;
	width: 20px;
	border-radius: 10px;
	margin: -10px 0 0 -16px;
}

.skill-level {
	width: 180px;
	margin: 0 auto;
	height: 40px;
	div {
		height: 40px;
		width: 40px;
		float: left;
		@include border-radius(20px);
		margin-right: 10px;
		margin-left: 10px;
		color: $pressedtext;
	}
	i {
		/*margin-left: 12px;*/
		line-height: 1.5;
	}
	.skill-level-yes {
		background-color: $basecolor;
	}
	.skill-level-no {
		background-color: $orange;
	}
}
/* CSS3 rules for flipcard effect */
.flipcontext {
    -webkit-perspective: 800px;
    /*position: relative;*/
}
.card {
    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 0.5s;
}
.front {
    position: absolute;
    /*background-color: red;*/
    -webkit-backface-visibility: hidden;
    padding: 10px;
    left: 30px;
    right: 30px;
    text-align: center;
}
.back {
    position: absolute;
    /*background-color: green;*/
    -webkit-backface-visibility: hidden;
    -webkit-transform: rotateY(180deg);
    padding: 10px;
}
.card:hover {
    -webkit-transform: rotateY(180deg);
    @include box-shadow(grey 0px 0px 20px);
}
/* End of rule for flipcard effect */
.intro {
	color: $pressedtext;
	padding: 20px;
	font-size: 33px;
	line-height: 1.4;
	@include text-shadow(0px 2px 0px $pressedtexthighlight);
}

/*.cv-objectives {
	h2 {
		color: $basecolor;
	}
}*/

.cv-objectives-intro {
	padding:20px;
	font-size: 20px;
	}
.cv-objectives-detailed {
	overflow-x: auto;
	margin-bottom: 10px;
}

.obj-item-wrapper {
	width: 270%;
	height: 90px;
}

/* Temporal class for testing*/
 .showme {
 	width: 1px;
 	height: 1px;
 	margin-left: -2px;
 }
.obj-item {
	float: left;
	width: 29.629%;
	height: 280px;
	margin: 0 1.851%;
	padding: 5px;
	h3 {
		color: $basecolor;
		font-weight: 300;
		font-style: italic;
		font-size: 25px;
	}
	p {
		font-size: 16px;
	}
}

.arrow-up {
	text-align: center;
}

.experience-edu-item {
	padding: 5px;
	margin: 20px 0 20px 0;
	h3 {
		font-weight: 300;
		font-size: 25px;
	}
	p {
		margin-bottom: 20px;
	}
}
.experience-first {
	border-left: 4px solid $orange;
	.timeline-circle {
		background-color: $orange;
		p {
			margin-left: 25px;
			color: $orange;
		}
	}
}

.experience-second {
	border-left: 4px solid $tan;
	.timeline-circle {
		background-color: $tan;
		p {
			margin-left: 25px;
			color: $tan;
		}
	}
}
.experience-third {
	border-left: 4px solid $violet;
	.timeline-circle {
		background-color: $violet;
		p {
			margin-left: 25px;
			color: $violet;
		}
	}
}

.edu-first {
	border-left: 4px solid $pink;
	.timeline-circle {
		background-color: $pink;
		p {
			margin-left: 25px;
			color: $pink;
		}
	}
}

.edu-second {
	border-left: 4px solid $turqoise;
	.timeline-circle {
		background-color: $turqoise;
		p {
			margin-left: 25px;
			color: $turqoise;
		}
	}
}
.skill-item {
	@include box-shadow(grey 0px 0px 7px);
	margin-top: 20px;
	margin-bottom: 20px;
	height: 300px;
	.skill-logo-jboss {
		width: 150px;
		height: 150px;
		margin: 0 auto;
	}
}
